<div class="post">
    <h3><a href="{{ post.url }}">{{ page.title }}</a></h3>
  
    <div class="body">
        {{ content }}
    </div>
    
    <div class="meta">
        Posted on <a href="{{ page.url }}">{{ page.date |
        date_to_string }}</a>
        {% unless page.tags == empty %}
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
        {% endunless %}  
    </div>
    {% include JB/comments %}
</div>
